<% if notice.present? %>
  <div class="col-2 offset-2 message">
    <p class="alert alert-info"><%= notice %></p>
  </div>
<% end %>
<% if alert.present? %>
<<<<<<< HEAD
  <div class="col-2 offset-2 message">
    <p class="alert alert-danger"><%= alert %></p>
  </div>
=======
<div class="col-2 offset-2 message">
  <p class="alert alert-danger"><%= alert %></p>
</div>
>>>>>>> 0ae3ef77808b44fa4b7200b45b6bf57244e52d55
<% end %>
