<div id="pawn-promotion-modal" class="modal">
  <p>Select a piece type to promote your pawn to:</p>
  <% @game = Game.find_by(id: params[:id]) %>
  <%= image_tag('WhiteQueen.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Queen' }).to_s %>
  <%= image_tag('WhiteKnight.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Knight' }).to_s %>
  <%= image_tag('WhiteRook.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Rook' }).to_s %>
  <%= image_tag('WhiteBishop.png', height: '65px', class: 'promoteButton', :data => { :id => @game.id, :type => 'Bishop' }).to_s %>
</div>

<script>
  function openPawnModal() {
    $('#pawn-promotion-modal').modal({
      escapeClose: false,
      clickClose: false,
      showClose: false
    });
  }
  function testMethod() {
    console.log("the method works");
  }

</script>
