<table id="chessboard">
  <% (0..7).each do |y| %>
    <tr>
      <% (0..7).each do |x| %>
        <td class="square-td" data-x="<%= x %>" data-y="<%= y %>">
          <% piece = Piece.find_by(x_position: x, y_position: y, game_id: @game.id) %>
          <div class="square<% if x % 2 == 0 && y % 2 == 1 || x % 2 == 1 && y % 2 == 0 %> dark<% else %> light<% end %>">
            <% if piece.present? %>
              <% image = find_piece(x, y) %>
              <%= image_tag(image, height: '65px').to_s if image %>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
