<br>
<div class="col-6 offset-4 booyah-box mt-0">
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn btn-outline-secondary" %>
  <% end %>
</div>
