<br>
<div class="row col-10 offset-2">
  <div class="col-9" align="right">
    <table id="chessboard">
      <%= render 'board' %>
    </table>
  </div>
  <div class="side-panel col-2">
    <p class="forfeit-button"><%= link_to "Forfeit Game", game_path(@game), method: :delete, class: 'btn btn-outline-secondary' %></p>
  </div>
</div>

<div id="pawn-promotion-modal" class="modal">
  <p>Pawn promotion modal</p>
  <a href="pawn-promotion-modal" rel="modal:close">Close</a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  var type;
  var x;
  var y;
  $(document).ready(init_draggables_and_droppables);
  function init_draggables_and_droppables() {
    $(".draggable").draggable();
    $(".droppable").droppable({
      drop: function( event, ui ) {
        type = ui.draggable.data('type')
        var id = ui.draggable.data('id')
        x = $(this).data('x')
        y = $(this).data('y')
        $.ajax({
          type: 'PUT',
          url: `/pieces/${id}?x_position=${x}&y_position=${y}`
        });
      }
    });
  };
  function openModal() {
    if (type === "Pawn" && (y === 0 || y === 7)) {
      $('#pawn-promotion-modal').modal('toggle');
    }
  }
</script>
