<br>
<div class="row col-10 offset-2">
  <div class="col-9" align="right">
    <table id="chessboard">
      <%= render 'board' %>
    </table>
  </div>
  <div class="side-panel col-2">
    <p class="forfeit-button"><a href="#forfeit-modal" rel="modal:open" class="btn btn-outline-secondary">Foreit Game</a></p>
    <div id="turn-container">
      <%= render 'turn' %>
    </div>
  </div>
</div>

<div id="forfeit-modal" class="modal">
  <div class="forfeit-modal-flex">
    <p>Are you sure you want to forfeit this game? (If someone else has joined already, it will count as a loss against you.)</p>
    <div class="forfeit-modal-buttons">
      <%= link_to "Yes, forfeit Game", game_path(@game), method: :delete, class: 'btn btn-outline-danger' %>
      <a href="#forfeit-modal" rel="modal:close">No, go back</a>
    </div>
  </div>
</div>
<div id="pawn-modal-container">

</div>

<script>
  var type;
  var x;
  var y;
  $(document).ready(init_draggables_and_droppables);
  function init_draggables_and_droppables() {
    $(".draggable").draggable();
    $(".droppable").droppable({
      drop: function( event, ui ) {
        type = ui.draggable.data('type')
        var id = ui.draggable.data('id')
        x = $(this).data('x')
        y = $(this).data('y')
        $.ajax({
          type: 'PUT',
          url: `/pieces/${id}?x_position=${x}&y_position=${y}`
        });
      }
    });
  };
  function openModal() {
    if (type === "Rook"/* && (y === 0 || y === 7)*/) {
      // openPawnModal();
      // testMethod();
      // render partial: 'games/promotion';
    }
  }

  function handlePawnPromotion() {
    var id = $(this).data('id');
    var type = $(this).data('type')
    var info = {
      id,
      type
    }

    $.ajax({
      type: 'PUT',
      url: `/games/${id}/promote`,
      data: info,
      dataType: "json"
    });
    location.reload();
  };
  $('.promoteButton').on('click', handlePawnPromotion);
</script>
