// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
  height: 65px;
  width: 65px;
}
.dark {
  background-color: #858585;
}
.light {
  background-color: lightgray;
}
.side-panel {
  height: 200px;
  margin: auto;
  background-color: lightgray;
}
