@import "bootstrap";
@import "jquery-ui";

.side-nav {
  background-color: lightgray;
  height: 100vh;
  width: 200px;
  float: left;
}
.side-nav h1 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
}
.open-games {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  background-color: white;
  margin-top: 20px;
}
.open-games-wrapper {
  overflow-y: scroll;
  height: inherit;
  background-color: white;
}
.open-games h2 {
  font-size: 15px;
  text-align: center;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}
.message {
  position: fixed;
  margin-top: 30px;
}
